@font-face {
  font-family: '20768413480';
  src: url('20768413480.eot');
  src: url('20768413480.eot?#iefix') format('embedded-opentype'),
       url('20768413480.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ModernLove-Grunge';
  src: url('ModernLove-Grunge.svg#ModernLove-Grunge') format('svg'),
       url('ModernLove-Grunge.ttf') format('truetype'),
       url('ModernLove-Grunge.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

