/* SET VARIABLES FOR USE THROUGHOUT STYLESHEET */

:root{
    --primary-color: #203864;
    --accent-color-1: #A4041F;
    --accent-color-2: #B2DE82;
    --accent-color-3: #FFE699;
    --accent-color-4: #fff;
}

/*ACTIVATE FONT FILES*/

@font-face {
    font-family: ModernLoveGrunge;
    src: url('fontModernLoveGrunge.ttf') format("truetype");
}
@font-face {
    font-family: Candara;
    src: url('Candara.ttf') format("truetype");
}

/*DEFAULT SELECTOR STYLES*/

h1{
    font-family: ModernLoveGrunge;
    color: var(--accent-color-4);
    font-size: 80px;
}
h2{
    font-family: ModernLoveGrunge;
    color: var(--accent-color-2);
    font-size: 80px;
    text-shadow: 5px 2px 2px rgb(0 0 0);
}
h3{
    font-family: ModernLoveGrunge;
    font-size: 50px;
    text-shadow: 3px 1.5px 1.5px rgb(0 0 0);
    color:var(--primary-color);
}
h4{
    border: var(--accent-color-1);
}
p{
    padding: 20px 0;
}
section{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}
div{
    display: flex;
    width: 100%;
    justify-content: center;
}
article{
    margin:30px 0;
}

/* STYLES BY CLASS AND ID, IN ORDER OF APPEARANCE ON PAGE (FOR THE MOST PART)*/

.header{
    background-color: var(--primary-color);
    position: -webkit-sticky ;
    position: sticky;
    top:0;
    z-index: 9;
    border-bottom: 10px solid var(--accent-color-2);
}
.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.nav a{
    font-family: ModernLoveGrunge;
    font-size: 50px;
    color:var(--accent-color-4);
    margin: 30px 30px 5px 30px;
    text-decoration: none;
}
.nav a:hover{
    color: var(--accent-color-2);
    text-shadow: 5px 5px 2px rgb(0 0 0);  
}
.section-title{    
    border-bottom: 10px solid var(--primary-color);
    width: 33%;
    margin:0 auto 20px;
    padding: 20px 0;
    text-align: center;
    display: block;
}
#about-me h2, #about-me h3{
    color: var(--accent-color-2);
}
#about-me ul {
    text-indent: 0;
    padding-left: 50px;
 }
#headshot{
    margin: 0 auto;
}
.list, .sub-list, li, p{
    font-family: Candara;
    font-size: 30px;
    color: var(--primary-color);
    line-height: 1.5;
}
.list, .sub-list{
    text-indent: 20px;
}
.sub-list li{
    list-style: none;
}
#projects{
    background-color: var(--accent-color-2);
    flex-direction: column;
    justify-content: center;
}
#projects h2, #projects h3{
    color: var(--accent-color-4);
}
#projects h3{
    text-align: center;
    background-color: var(--primary-color);
    padding: 30px 0;
}
#projects a{
    text-decoration: none;
}
.primary-project-article, #contact{
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    margin:0 auto;
    width:80%;
}
article img{
    width: 100%;
}
.secondary-projects{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between; 
}
.secondary-project-article{
    width:180;
    height: 180;
}
#contact{
    text-align: center;
}
.contact-info-line{
    margin: 30px auto; 
}
.contact-info-line h3{
    text-shadow: none;
}
.contact-info-line a{
    text-decoration: underline solid var(--primary-color) 4px;
    text-underline-offset: 10px;
    font-family:ModernLoveGrunge;
    font-size: 50px;
    color: var(--primary-color);
}
.contact-info-line a:hover{
    color: var(--accent-color-2); 
}
.padding-right{
    padding-right: 30px;
}


/*MEDIA QUERIES FOR SCALABILITY*/

/*MEDIA QUERY FOR SCREEN SIZES 1600PX WIDE OR SMALLER*/

@media screen and (max-width: 1600px){

.secondary-projects {
    width: 70.6%;
}
}



/*MEDIA QUERY FOR SCREEN SIZES 1475PX WIDE OR SMALLER*/

@media screen and (max-width: 1475px){

.secondary-projects {
    width: 77%;
}
}

/*MEDIA QUERY FOR SCREEN SIZES 1400PX WIDE OR SMALLER*/

@media screen and (max-width: 1400px){

h1{
    font-size: 60px;
}
.nav a{
    font-size: 40px;
}
}

/*MEDIA QUERY FOR SCREEN SIZES 1350PX WIDE OR SMALLER*/

@media screen and (max-width: 1350px){

.secondary-projects {
    width: 80%;
}
}

/*MEDIA QUERY FOR SCREEN SIZES 1300PX WIDE OR SMALLER*/

@media screen and (max-width: 1300px){

.secondary-projects {
    width: 85%;
}
}

/*MEDIA QUERY FOR SCREEN SIZES 1230PX WIDE OR SMALLER*/

@media screen and (max-width: 1230px){

.secondary-projects {
    width: 90%;
}
}

/*MEDIA QUERY FOR SCREEN SIZES 1160PX WIDE OR SMALLER*/

@media screen and (max-width: 1160px){

.secondary-projects {
    width: 100%;
}
.header{
    position: static;
    display: block;
    text-align: center;
}
.nav{
    display: block;
    text-align: center;
    margin: 30px 0 0 0;
}
.section-title{
    font-size: 60px;
}
}


/*MEDIA QUERY FOR SCREEN SIZES 1050PX WIDE OR SMALLER*/

@media screen and (max-width: 1050px){

.secondary-projects {
    width: 90%;
}
.secondary-projects a{
    width: 45%;
    margin:0;
}
article h3{
    font-size: 40px;
}
}


/*MEDIA QUERY FOR SCREEN SIZES 980PX WIDE OR SMALLER*/

@media screen and (max-width: 980px){

h1{
    font-size: 60px;
}
.nav a{
    font-size: 30px;
    margin: 0 30px;
}
.section-title{
    font-size: 50px;
}
.secondary-projects{
    justify-content: space-between;
}
.contact-info-line{
    width: 80%;
    justify-content: center;
}
.contact-info-line h3, .contact-info-line a{
    font-size: 40px;
    margin: 20px 0;
}
article h3{
    font-size: 30px;
}
}

/*MEDIA QUERY FOR SCREEN SIZES 820PX WIDE OR SMALLER*/

@media screen and (max-width: 820px){

.section-title{
    font-size: 40px;
}

.contact-info-line h3, .contact-info-line a{
    font-size: 35px;
}
}

/*MEDIA QUERY FOR SCREEN SIZES 700PX WIDE OR SMALLER*/

@media screen and (max-width: 700px){

#headshot{
    width: 50%;
}
p, ul, li{
    font-size: 25px;
}

.contact-info-line h3, .contact-info-line a{
    font-size: 30px;
}
article h3{
    font-size: 25px;
}
}

/*MEDIA QUERY FOR SCREEN SIZES 575PX WIDE OR SMALLER*/

@media screen and (max-width: 575px){

    h1{
        font-size: 40px;
    }
    .nav a{
        font-size: 20px;
        margin: 0 30px;
    }
    .section-title{
        font-size: 30px;
        border-bottom: 5px solid var(--primary-color);
    }
    p, ul, li{
        font-size: 20px;
    }
    .secondary-projects{
        justify-content: space-between;
    }
    .contact-info-line{
        width: 80%;
        justify-content: center;
    }
    .contact-info-line h3, .contact-info-line a{
        font-size: 25px;
        margin: 15px 0;
    }
    article h3{
        font-size: 20px;
    }
    }
    
/*MEDIA QUERY FOR SCREEN SIZES 475PX WIDE OR SMALLER*/

@media screen and (max-width: 475px){

h1{
    font-size: 30px;
}
.nav a{
    font-size: 20px;
    margin: 0 30px;
}
#headshot{
    width: 40%;
}
.section-title{
    width: 75%; 
}
p, ul, li{
    font-size: 15px;
}
.secondary-projects{
    justify-content: space-between;
}
.contact-info-line{
    width: 80%;
    justify-content: center;
}
.contact-info-line h3, .contact-info-line a{
    font-size: 20px;
    margin: 15px 0;  
}
.contact-info-line a{
    text-underline-offset: 2px;
}
.contact-info-line h3{
    padding-right: 10px;
}
#projects h3{
    font-size: 15px;
    padding: 10px 0;
}
}